<h1 class='text-info'>HELLO JARA</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur doloremque libero eius cumque tempora aliquam facilis repellat tempore corrupti voluptates a, sed ipsa, reiciendis incidunt nisi similique inventore facere.</p>

<a name="" id="" class="btn btn-primary" href="#" role="button">More here</a>
