<div class="card p-1 mb-3 col-md-3 mx-1">
  <h2 class="text-center text-uppercase"><%=board.title%></h2>
  <p class="text-secondary">Fecha de creación <br/> <%= board.created_at %></p>
  <%= link_to "Ver tablero completo", board%>
</div>