<div class="container-fluid bg-info ">
  <h1 class="text-center py-5">CANVAS PARA EL DISEÑO DE PROYECTOS</h1>
  <div class="d-flex row justify-content-around">
  <h1>hola <%= current_user.email %></h1>
    <%= render @boards %>
  </div>   
</div>