
<div class="container">
  <h1><%= @board.title%></h1>
  <h2>image</h2>
  <div>
    <%= @board.content%>
  </div>
  <div>
    <p>Escrito por: <strong><%= @board.user.email %></strong></p>
  </div>
  <div>
    <%= link_to "Eliminar Tablero", @article, method: :delete %>
  </div>
</div>
